<p/>

<%= render :partial => "search", :locals => {:url_path => "home_search_path"} %>
<div id="index">
<div id="map">
</div>
</div>

<script type="text/javascript">
    var tracker_index_url = "<%= tracker_index_url %>" + ".json";
    var tracks_json = <%= @tracks %>
</script>